.feature-list {
  display: flex;
}

.feature-item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-list {
  .title {
    color: var(--title-text-color);
    @include font(14px, 700, 1.14);
    text-transform: uppercase;
  }
}

.feature-list .feature-text {
  margin-top: 10px;
  line-height: 1.71;
}

.feature-top {
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
